#menu ul li{
display: inline-block;
}
#menu {
background: #7FFFD4;
height: 50px;
padding: 20px;
width:1200px;
}
#menu ul li a {
color: #000;
text-decoration: none;
padding: 20px;
}
#menucon {
display: none;
padding: 20px;
}
#menu li {
position: relative;
}
#menu li:hover #menucon{
display: block;
}
#menu li #menucon{
position: absolute;
top: 20;
left: 0;
}
#menu #menucon li {
display: block;
background: #7FFFD4;
width: 250px;
padding: 20px 0;
}
#menu a:hover {
    background: #20B2AA;
}
.logo
{
    width: 50%;
    height: 50%;
}